<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
  <%- include("layouts/partials/merchbanner") %>
  <div class="container">
    <h3 class="text-center base__title base__title--cart pl-4 pr-4">Cart</h3>
  </div>
  <div class="product-container">
    <div class="product-header">
      <h5 class="product-title">PRODUCT</h5>
      <h5 class="price">PRICE</h5>
      <h5 class="quantity">QTY</h5>
      <h5 class="total">TOTAL</h5>
    </div>
  </div>
  <div class="products"></div>
</section>
<div class="style-line"></div>
