<% layout("layouts/boilerplate") -%>

  
  <section class="logo__section">
    <div class="style-line"></div>
    <img class="logo__img" src="/img/logo2.1.png" id="logoImg"/>
    <div class="style-line"></div>
    <form action="/home" id="formHome">
      <input type="submit" class="basebtn basebtn-logo" id="logoBtn" value="Enter" form="formHome">
    </form>
  </section>
