<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <%- include("layouts/partials/merchbanner")  %> 
    <div class="container">
        <h3 class="text-center base__title base__title--merch pl-4 pr-4">Merchandise</h3>
    </div>
    <div class="container">
        <aside class="merch__aside">
            <div class="merch__item">
                <img src="/img/t-shirt.jpg" alt="t-shirt">
                <h4 class="text-center merch__text">F.H.M T-Shirt</h4>
                <h4 class="text-center merch__text">£20.00</h4>
                <a class="add-cart cart1">Add Cart</a>
            </div>
            <div class="merch__item">
                <img src="/img/hoodie.jpg" alt="hoodie">
                <h4 class="text-center merch__text">F.H.M Hoodie</h4>
                <h4 class="text-center merch__text">£35.00</h4>
                <a class="add-cart cart2">Add Cart</a>
            </div>
            <div class="merch__item">
                <img src="/img/mug.jpg" alt="mug">
                <h4 class="text-center merch__text">F.H.M Mug</h4>
                <h4 class="text-center merch__text">£8.00</h4>
                <a class="add-cart cart3">Add Cart</a>
            </div>
        </aside>
    </div>
    </section>
    <div class="merch__warning">
        
    </div>
    <div class="style-line"></div>