<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <div class="jumbotron jumbo--phil container">
        <div class="jumbo__cont">
            <div class="jumbo__group">
                <h2 class="jumbo__title mb-3">Phil Lynott</h2>
                <p class="jumbo__date mb-3">1949 - 1986</p>
            </div>
            <form action="/phildisc" method="GET" id="philDisc">
                <input type="submit" class="btn btn-md text-center basebtn basebtn--jumbo" form="philDisc" role="button" value="Discography">
            </form>
        </div>
    </div>
    <div class="style-line"></div>
    <div class="quote container">
        <div class="media">
            <div class="media-body">
                <blockquote class="blockquote text-center">
                    <p class="quote__p">"Why did God take such a creative person?"</p>
                    <footer class="blockquote-footer">James Hetfield of Metallica </footer>
                </blockquote>
            </div>
            <img src="/img/het1.jpg" class="ml-3 quote__img" alt="james hetfield">
        </div>
    </div>
    <div class="style-line"></div>
</section>
<article>
    <div class="container">
        <h2 class="text-center pl-4 pr-4 base__title">Biography</h2>
    </div>
    <div class="container biog__container">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex align-self-stretch">
                <table class="table table-borderless 
             mt-5 biog__table">
                    <tbody>
                        <tr>
                            <th colspan="2" class="text-center biog__title biog__title--stat">Vital Statistics</th>
                        </tr>
                        <tr class="biog__info">
                            <th scope="row" class="text-center">Born</th>
                            <td>Phil Parris Lynott</td>
                            <td>August 20, 1949</td>
                            <td>West Bromwich, Staffs, England</td>
                        </tr>
                        <tr class="biog__info">
                            <th scope="row" class="text-center">Died</th>
                            <td>January 4, 1986(aged 36)</td>
                            <td>Salisbury, Wiltshire, England</td>
                        </tr>
                        <tr class="biog__info">
                            <th scope="row" class="text-center">Cause of death</th>
                            <td>Pneumonia and heart failure due to drug overdose.</td>
                        </tr>
                        <tr class="biog__info">
                            <th scope="row" class="text-center">Resting place</th>
                            <td>St. Fintan's Cemetery</td>
                            <td>Sutton, County Dublin, Ireland</td>
                        </tr>
                        <tr class="biog__info">
                            <th scope="row" class="text-center">Ex-partner</th>
                            <td>Caroline Crowther</td>
                        </tr>
                        <tr class="biog__info">
                            <th scope="row" class="text-center">Occupation</th>
                            <td>Musician</td>
                        </tr>
                        <tr class="biog__info">
                            <th scope="row" class="text-center">Instruments</th>
                            <td>Bass guitar</td>
                            <td>Lead vocals</td>
                        </tr>
                        <tr class="biog__info">
                            <th scope="row" class="text-center">Genre</th>
                            <td>Heavy Metal</td>
                            <td>Hard Rock</td>
                            <td>Celtic Rock</td>
                            <td>Blues Rock</td>
                        </tr>
                        <tr class="biog__info">
                            <th scope="row" class="text-center">Labels</th>
                            <td>Vertigo</td>
                            <td>Mercury</td>
                            <td>Warner Bros</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=" col-lg-6 mt-5 biog__table biog__table--text">
                <P class="biog__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed enim ut sem viverra aliquet eget sit amet tellus. Tempor commodo ullamcorper a lacus vestibulum sed. Bibendum neque egestas congue quisque egestas diam. Diam maecenas sed enim ut sem viverra aliquet. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Interdum consectetur libero id faucibus nisl. Vulputate enim nulla aliquet porttitor. Pellentesque eu tincidunt tortor aliquam. Leo urna molestie at elementum eu facilisis sed odio morbi. Magna etiam tempor orci eu lobortis elementum nibh tellus. Tortor at auctor urna nunc id cursus metus aliquam. Duis at tellus at urna condimentum mattis pellentesque id.<br><br>
                    Pellentesque diam volutpat commodo sed egestas egestas fringilla. Turpis nunc eget lorem dolor sed viverra ipsum. Metus aliquam eleifend mi in nulla. Nam aliquam sem et tortor consequat id porta. Et netus et malesuada fames ac turpis. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Interdum velit laoreet id donec ultrices tincidunt. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Eget gravida cum sociis natoque penatibus et magnis dis. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Amet risus nullam eget felis.
                </P>
            </div>
        </div>
    </div>
</article>
<div class="style-line"></div>
    <div class="recommend">
        <h2 class="text-center pl-4 pr-4 base__title">Our Recomendation</h2>
        <div class="container pr-0 recommend__cont">
            <div class="media">
                <img src="/img/phil7.jpg" class="recommend__img" alt="black rose">
                <div class="media-body">
                    <h5 class="mt-0 p-3 recommend__head">Black Rose (1979)</h5>
                    <p class="pt-3 pb-2 pt-lg-4 recommend__text">
                        Featuring the legendary Gary Moore, this is the last truly great Lizzy album.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <aside>
        <div class="container stereo p-0 mt-5">
            <div class="media stereo__cont">
                <a id="player">
                    <audio id="myAudio" src="/audio/giveitup.mp3"></audio>
                    <i id="myIcon" class="far fa-play-circle stereo__icon"></i></a>
                <div class="media-body">
                    <h5 class="mt-0 stereo__text">"Got to Give it Up"<span> - Black Rose</h5>
                </div>
            </div>
        </div>
    </aside>
    <div class="style-line"></div>
    <div class="jumbotron jumbo--style2 jumbo--phil2 container my-5">
        <h2 class="mb-3 jumbo__title2">R.I.P. Phil</h2>
    </div>
    <div class="style-line"></div>