<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
  <div class="container">
    <h3 class="text-center base__title pl-4 pr-4">References</h3>
  </div>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-dark table__cont table-borderless table-responsive mt-5">
            <thead>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">
                  Cliff Burton
                </th>
              </tr>
              <tr>
                <th scope="col" class="ref__head">Image</th>
                <th scope="col" class="ref__head">Reference</th>
              </tr>
            </thead>
            <tbody>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref5.jpg"
                    alt="loudersound logo"
                  />
                </th>
                <td>
                  <a
                    href="https://www.loudersound.com/features/scott-ian-cliff-burton-was-the-most-original-human-being-i-ever-met"
                    >https://www.loudersound.com/features/scott-ian-cliff-burton-was-the-most-original-human-being-i-ever-met</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref4.jpg"
                    alt="justice for all the truth about metallica"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Metallica-Justice-All-Joel-McIver/dp/1783055413/ref=sr_1_1?dchild=1&keywords=joel+mciver+justice&qid=1595254801&sr=8-1"
                    >McIver, Joel (2004). Justice For All – The Truth About
                    Metallica. Omnibus Press</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref3.jpg"
                    alt="to live is to die - the life and death of metallica's cliff burton"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Live-Die-Death-Metallica-Burton/dp/190600224X/ref=sr_1_1?dchild=1&keywords=joel+mciver+to+live&qid=1595254867&sr=8-1"
                    >McIver, Joel (2009). To Live is to Die - The Life and Death
                    of Metallica's Cliff Burton. Jawbone Press</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref7.jpg" alt="wikipedia" />
                </th>
                <td>
                  <a href="https://en.wikipedia.org/wiki/Cliff_Burton"
                    >https://en.wikipedia.org/wiki/Cliff_Burton</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref6.jpg" alt="youtube" />
                </th>
                <td>
                  <a href="https://www.youtube.com/watch?v=RXEDzNEL6Hc"
                    >https://www.youtube.com/watch?v=RXEDzNEL6Hc</a
                  >
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">
                  Dimebag Darrell
                </th>
              </tr>
                <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref9.jpg"
                    alt="official truth 101 proof"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Official-Truth-101-Proof-Pantera/dp/0306822881/ref=sr_1_1?dchild=1&keywords=rex+brown+official+truth&qid=1595254911&quartzVehicle=107-1377&replacementKeywords=brown+official+truth&sr=8-1"
                    >Brown, Rex (2014). Official Truth, 101 Proof: The Inside
                    Story of Pantera. De Capo Press.</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref8.jpg"
                    alt="black tooth grin"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Black-Tooth-Grin-Dimebag-Darrell/dp/0306815249/ref=sr_1_1?dchild=1&keywords=black+tooth+grin&qid=1595254969&sr=8-1"
                    >Crain, Zac (2009). Black Tooth Grin: The High Life, Good
                    Times and Tragic End of "Dimebag" Darrell Abbott. De Capo
                    Press.</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref7.jpg" alt="wikipedia" />
                </th>
                <td>
                  <a href="https://en.wikipedia.org/wiki/Dimebag_Darrell"
                    >https://en.wikipedia.org/wiki/Dimebag_Darrell</a
                  >
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">
                  Ronnie James Dio
                </th>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref10.jpg"
                    alt="ronnie james dio: a biography of a heavy metal icon"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Ronnie-James-Dio-biography-heavy/dp/0692104755/ref=sr_1_1?dchild=1&keywords=biography+ronnie+james+dio&qid=1595255048&sr=8-1"
                    >Curl, James (2018). Ronnie James Dio: A biography of a
                    heavy metal icon. JC Publications</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref11.jpg"
                    alt="vintage vinyl news"
                  />
                </th>
                <td>
                  <a
                    href="https://www.vintagevinylnews.com/2010/05/artists-react-to-passing-of-ronnie.html"
                    >https://www.vintagevinylnews.com/2010/05/artists-react-to-passing-of-ronnie.html</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref7.jpg" alt="wikipedia" />
                </th>
                <td>
                  <a href="https://en.wikipedia.org/wiki/Ronnie_James_Dio"
                    >https://en.wikipedia.org/wiki/Ronnie_James_Dio</a
                  >
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">
                  Jeff Hanneman
                </th>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref12.jpg"
                    alt="Slayer 66 2/3: The Jeff and Dave Years"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Slayer-66-Biography-Including-Palladium/dp/0615920306/ref=sr_1_1?dchild=1&keywords=slayer+66&qid=1595255100&sr=8-1"
                    >Ferris D.X. (2013). Slayer 66 2/3: The Jeff and Dave Years.
                    6623 Press.</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>The Metal <br />Archives</th>
                <td>
                  <a
                    href="https://www.metal-archives.com/reviews/Slayer/Reign_in_Blood/212/"
                    >https://www.metal-archives.com/reviews/Slayer/Reign_in_Blood/212/</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref13.jpg"
                    alt="ultimate classic rock"
                  />
                </th>
                <td>
                  <a
                    href="https://ultimateclassicrock.com/jeff-hanneham-dead-tributes/"
                    >https://ultimateclassicrock.com/jeff-hanneham-dead-tributes/</a
                  >
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">Lemmy</th>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref15.jpg" alt="BBC news" />
                </th>
                <td>
                  <a
                    href="https://www.bbc.co.uk/news/entertainment-arts-35193376"
                    >https://www.bbc.co.uk/news/entertainment-arts-35193376</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref14.jpg"
                    alt="white line fever"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/White-Line-Fever-Lemmy-Autobiography/dp/1471157652/ref=sr_1_1?dchild=1&keywords=lemmy+book&qid=1595070035&sr=8-1"
                    >Kilmister Lemmy (2016). White Line Fever: Lemmy, The
                    Autobiography. Simon and Schuster.</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref16.jpg" alt="loudwire" />
                </th>
                <td>
                  <a
                    href="https://loudwire.com/motorhead-lemmy-kilmister-official-cause-of-death-revealed/"
                    >https://loudwire.com/motorhead-lemmy-kilmister-official-cause-of-death-revealed/</a
                  >
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">
                  Phil Lynott
                </th>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref17.jpg"
                    alt="brave words"
                  />
                </th>
                <td>
                  <a
                    href="http://bravewords.com/news/metallicas-james-hetfield-on-death-of-thin-lizzys-phil-lynott-why-did-god-take-such-a-creative-person#:~:text=Speaking%20on%20Phil's%20death%2C%20James,moments%20that%20was%20so%20sad.&text=%22If%20that%20lyrical%2C%20musical%20ability,the%20top%20of%20the%20tree.%22"
                    >http://bravewords.com/news/metallicas-james-hetfield-on-death-of-thin-lizzys-phil-lynott</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref18.jpg" alt="hot press" />
                </th>
                <td>
                  <a
                    href="https://www.hotpress.com/music/memorial-stone-unveiled-grave-philip-lynott-philomena-lynott-22781656"
                    >https://www.hotpress.com/music/memorial-stone-unveiled-grave-philip-lynott-philomena-lynott-22781656</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref5.jpg" alt="loudersound" />
                </th>
                <td>
                  <a
                    href="https://www.loudersound.com/features/mr-lonely-heart-the-tragic-death-of-thin-lizzys-phil-lynott"
                    >https://www.loudersound.com/features/mr-lonely-heart-the-tragic-death-of-thin-lizzys-phil-lynott</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref19.jpg"
                    alt="phil lynott the rocker"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Phil-Lynott-Rocker-Mark-Putterford/dp/0711991049/ref=sr_1_2?dchild=1&keywords=phil+lynott+book&qid=1595070789&sr=8-2"
                    >Putterford Mark (2002). Phil Lynott: The Rocker. Omnibus
                    Press.</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref20.jpg"
                    alt="cowboy song the authorized biography of phil lynott"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Cowboy-Song-Authorised-Biography-Philip/dp/1472121074/ref=sr_1_1?dchild=1&keywords=phil+lynott+book&qid=1595071533&sr=8-1"
                    >Thomson Graeme (2007). Cowboy Song: The Authorized
                    Biography of Phil Lynott. Constable.</a
                  >
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">
                  Vinnie Paul
                </th>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref21.jpg"
                    alt="blabbermouth"
                  />
                </th>
                <td>
                  <a
                    href="https://www.facebook.com/Blabbermouth.net/photos/pb.233748106643860.-2207520000.1530087830./2072284082790244/?type=3"
                    >https://www.facebook.com/Blabbermouth.net/photos/pb.233748106643860.-2207520000.1530087830./2072284082790244/?type=3</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref7.jpg" alt="wikipedia" />
                </th>
                <td>
                  <a href="https://en.wikipedia.org/wiki/Vinnie_Paul"
                    >https://en.wikipedia.org/wiki/Vinnie_Paul</a
                  >
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">
                  Randy Rhodes
                </th>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref23.jpg"
                    alt="music radar"
                  />
                </th>
                <td>
                  <a
                    href="https://www.musicradar.com/news/guitars/interview-zakk-wylde-on-randy-rhoads-534858"
                    >Bosso Joe(2012) Interview: Zakk Wylde on Randy Rhoads</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref22.jpg"
                    alt="crazy train"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Crazy-Train-Tragic-Death-Rhoads-ebook/dp/B007ECL164/ref=sr_1_2?dchild=1&keywords=randy+rhoads+biography&qid=1595255928&sr=8-2"
                    >McIver Joel (2011), Crazy Train: The High Life and Tragic
                    Death of Randy Rhoads. Jawbone Press.</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref7.jpg" alt="wikipedia" />
                </th>
                <td>
                  <a href="https://en.wikipedia.org/wiki/Randy_Rhoadsl"
                    >https://en.wikipedia.org/wiki/Randy_Rhoads</a
                  >
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">
                  Chuck Schuldiner
                </th>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref5.jpg" alt="loudersound" />
                </th>
                <td>
                  <a
                    href="https://www.loudersound.com/features/remembering-chuck-schuldiner-the-godfather-of-death-metal"
                    >https://www.loudersound.com/features/remembering-chuck-schuldiner-the-godfather-of-death-metal</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref5.jpg" alt="loudersound" />
                </th>
                <td>
                  <a
                    href="https://loudwire.com/death-chuck-schuldiner-dies-anniversary/"
                    >https://loudwire.com/death-chuck-schuldiner-dies-anniversary/</a
                  >
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center ref__header py-3">
                  Bon Scott
                </th>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref24.jpg"
                    alt="bon: the last highway"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Bon-Highway-Untold-Story-Scott/dp/1785301381/ref=asc_df_1785301381/?tag=googshopuk-21&linkCode=df0&hvadid=311043828655&hvpos=&hvnetw=g&hvrand=18248378695513373020&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1006854&hvtargid=pla-385931139785&psc=1&th=1&psc=1"
                    >Fink, Jesse(2017) Bon: The Last Highway. Black and White
                    Publishing.</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img class="ref__img" src="/img/ref5.jpg" alt="loudersound" />
                </th>
                <td>
                  <a
                    href="https://www.loudersound.com/features/bon-scott-the-man-behind-the-myth"
                    >https://www.loudersound.com/features/bon-scott-the-man-behind-the-myth</a
                  >
                </td>
              </tr>
              <tr class="ref__data">
                <th>
                  <img
                    class="ref__img"
                    src="/img/ref25.jpg"
                    alt="bon scott: have a drink on me"
                  />
                </th>
                <td>
                  <a
                    href="https://www.amazon.co.uk/Bon-Scott-Have-drink-me/dp/1911346709/ref=asc_df_1911346709/?tag=googshopuk-21&linkCode=df0&hvadid=310814775587&hvpos=&hvnetw=g&hvrand=11554694625982018316&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1006854&hvtargid=pla-523775645219&psc=1&th=1&psc=1"
                    >Thornton, Irene(2018) Bon Scott: Have a Drink On Me. Red
                    Planet Publishers.</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</section>
<div class="style-line"></div>
