<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <div class="container">
        <h3 class="text-center pl-4 pr-4 base__title">Discography</h3>
    </div>
    <div class="container disc__cont mt-5">
        <div class="media">
            <img src="/img/bon.jpg" class="disc__img" alt="bon scott">
            <div class="media-body">
                <h5 class="text-center disc__name">Bon Scott</h5>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table__cont table-dark table-borderless mt-5">
                    <thead>
                        <tr class="table__data">
                            <th scope="col">Album Sleeve</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Band</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/bon7.jpg" alt="TNT"></th>
                            <td>T.N.T.</td>
                            <td>1975</td>
                            <td>AC/DC</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/bon8.jpg" alt="high voltage"></th>
                            <td>High Voltage</td>
                            <td>1976 (international release).</td>
                            <td>AC/DC</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/bon9.jpg" alt="dirty deeds done dirt cheap"></th>
                            <td>Dirty Deeds Done Dirt Cheap</td>
                            <td>1976</td>
                            <td>AC/DC</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/bon10.jpg" alt="let there be rock"></th>
                            <td>Let There Be Rock</td>
                            <td>1977</td>
                            <td>AC/DC</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/bon11.jpg" alt="powerage"></th>
                            <td>Powerage</td>
                            <td>1978</td>
                            <td>AC/DC</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/bon12.jpg" alt="highway to hell"></th>
                            <td>Highway to Hell</td>
                            <td>1979</td>
                            <td>AC/DC</td>
                        </tr>
                        <tr class="table__data">
                            <td class="disclaimer" colspan="4">This is not an exhaustive discography. Excluded: Bon's early career prior to AC/DC, live albums and compliations.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</main>
<div class="style-line"></div>