<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <div class="container">
        <h3 class="text-center pl-4 pr-4 base__title">Discography</h3>
    </div>
    <div class="container disc__cont mt-5">
    <div class="media">
        <img src="/img/chuck6.jpg" class="disc__img" alt="chuck schuldiner">
        <div class="media-body">
            <h5 class="text-center disc__name disc__name--chuck">Chuck Schuldiner</h5>
        </div>
      </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table__cont table-dark table-borderless mt-5">
                    <thead>
                        <tr class="table__data">
                            <th scope="col">Album Sleeve</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Band</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/chuck7.jpg" alt="scream bloody gore"></th>
                            <td>Scream Bloody Gore</td>
                            <td>1987</td>
                            <td>Death</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/chuck2.jpg" alt="leprosy"></th>
                            <td>Leprosy</td>
                            <td>1988</td>
                            <td>Death</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/chuck8.jpg" alt="spiritual healing"></th>
                            <td>Spritual Healing</td>
                            <td>1990</td>
                            <td>Death</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/chuck9.jpg" alt="human"></th>
                            <td>Human</td>
                            <td>1991</td>
                            <td>Death</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/chuck5.jpg" alt="individual thought patterns"></th>
                            <td>Individual Thought Patterns</td>
                            <td>1993</td>
                            <td>Death</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/chuck10.jpg" alt="symbolic"></th>
                            <td>Symbolic</td>
                            <td>1995</td>
                            <td>Death</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/chuck3.jpg" alt="the sound of perseverance"></th>
                            <td>The Sound of Perseverance</td>
                            <td>1998</td>
                            <td>Death</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/chuck11.jpg" alt="the fragile art of existence"></th>
                            <td>The Fragile Art of Existence</td>
                            <td>1999</td>
                            <td>Control Denied</td>
                            </tr>
                        </tr class="table__data">
                            <td class="disclaimer"colspan="4">For the sake of brevity this is not an exhaustive discography. Excluded: live albums and compilation albums.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

      <div class="style-line"></div>