<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <div class="container">
        <h3 class="text-center pl-4 pr-4 base__title">Discography</h3>
    </div>
    <div class="container disc__cont mt-5">
        <div class="media">
            <img src="/img/dio9.jpg" class="disc__img" alt="ronnie james dio">
            <div class="media-body">
                <h5 class="text-center disc__name disc__name--dio">Ronnie James Dio</h5>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-dark table__cont table-borderless mt-5">
                    <thead>
                        <tr class="table__data">
                            <th scope="col">Album Sleeve</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Band</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio10.jpg" alt="elf"></th>
                            <td>Elf</td>
                            <td>1972</td>
                            <td>Elf</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio11.jpg" alt="carolina county ball"></th>
                            <td>Carolina County Ball</td>
                            <td>1974</td>
                            <td>Elf</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio12.jpg" alt="trying to burn the sun"></th>
                            <td>Trying to Burn the Sun</td>
                            <td>1975</td>
                            <td>Elf</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio13.jpg" alt="ritchie blackmore's rainbow"></th>
                            <td>Ritchie Blackmore's Rainbow</td>
                            <td>1975</td>
                            <td>Rainbow</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio14.jpg" alt="rising"></th>
                            <td>Rising</td>
                            <td>1976</td>
                            <td>Rainbow</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio15.jpg" alt="long live rock n roll"></th>
                            <td>Long Live Rock 'n' Roll</td>
                            <td>1978</td>
                            <td>Rainbow</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/heavenhell.jpg" alt="heaven and hell"></th>
                            <td>Heaven and Hell</td>
                            <td>1980</td>
                            <td>Black Sabbath</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio16.jpg" alt="mob rules"></th>
                            <td>Mob Rules</td>
                            <td>1981</td>
                            <td>Black Sabbath</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio18.jpg" alt="holy diver"></th>
                            <td>Holy Diver</td>
                            <td>1983</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio19.jpg" alt="the last in line"></th>
                            <td>The Last in Line</td>
                            <td>1984</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio20.jpg" alt="sacred heart"></th>
                            <td>Sacred Heart</td>
                            <td>1985</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio21.jpg" alt="dream evil"></th>
                            <td>Dream Evil</td>
                            <td>1987</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio22.jpg" alt="lock up the wolves"></th>
                            <td>Lock Up the Wolves</td>
                            <td>1990</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio17.jpg" alt="dehumanizer"></th>
                            <td>Dehumanizer</td>
                            <td>1992</td>
                            <td>Black Sabbath</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio23.jpg" alt="strange highways"></th>
                            <td>Strange Highways</td>
                            <td>1993</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio24.jpg" alt="angry machines"></th>
                            <td>Angry Machines</td>
                            <td>1996</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio25.jpg" alt="magica"></th>
                            <td>Magica</td>
                            <td>2000</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio26.jpg" alt="killing the dragon"></th>
                            <td>Killing the Dragon</td>
                            <td>2002</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio27.jpg" alt="master of the moon"></th>
                            <td>Master of the Moon</td>
                            <td>2004</td>
                            <td>Dio</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/dio28.jpg" alt="the devil you know"></th>
                            <td>The Devil You Know</td>
                            <td>2009</td>
                            <td>Heaven and Hell</td>
                        </tr>
                        <tr>
                            <td class="disclaimer" colspan="4">For the sake of brevity this is not an exhaustive discography. Excluded: Dio's early career prior to Elf, live albums and compilation albums.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="style-line"></div>