<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <div class="container">
        <h3 class="text-center pl-4 pr-4 base__title">Discography</h3>
    </div>
    <div class="container disc__cont mt-5">
        <div class="media">
            <img src="/img/jeff5.jpg" class="disc__img" alt="jeff hanneman">
            <div class="media-body">
                <h5 class="text-center disc__name">Jeff Hanneman</h5>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table__cont table-dark table-borderless mt-5">
                    <thead>
                        <tr class="table__data">
                            <th scope="col">Album Sleeve</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Band</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff6.jpg" alt="show no mercy"></th>
                            <td>Show No Mercy</td>
                            <td>1983</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff7.jpg" alt="hell awaits"></th>
                            <td>Hell Awaits</td>
                            <td>1985</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff4.jpg" alt="reign in blood"></th>
                            <td>Reign in Blood</td>
                            <td>1986</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff8.jpg" alt="south of heaven"></th>
                            <td>South of Heaven</td>
                            <td>1988</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff9.jpg" alt="seasons in the abyss"></th>
                            <td>Seasons in the Abyss</td>
                            <td>1990</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff10.jpg" alt="divine intervention"></th>
                            <td>Divine Intervention</td>
                            <td>1994</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff11.jpg" alt="undisputed attitude"></th>
                            <td>Undisputed Attitude</td>
                            <td>1996</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff12.jpg" alt="diabolus in musica"></th>
                            <td>Diabolus in Musica</td>
                            <td>1998</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff13.jpg" alt="god hates us all"></th>
                            <td>God Hates Us All</td>
                            <td>2001</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff14.jpg" alt="Christ illusion"></th>
                            <td>Christ Illusion</td>
                            <td>2006</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/jeff15.jpg" alt="world painted blood"></th>
                            <td>World Painted Blood</td>
                            <td>2009</td>
                            <td>Slayer</td>
                        </tr>
                        <tr class="table__data">
                            <td class="disclaimer" colspan="4">For the sake of brevity this is not an exhaustive discography. Excluded: singles, E.P.'s, live albums and compilation albums.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="style-line"></div>