<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <div class="container">
        <h3 class="text-center pl-4 pr-4 base__title">Discography</h3>
    </div>
    <div class="container disc__cont mt-5">
        <div class="media">
            <img src="/img/lemmy.jpg" class="disc__img" alt="lemmy">
            <div class="media-body">
                <h5 class="text-center disc__name">Lemmy</h5>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table__cont table-dark table-borderless mt-5">
                    <thead>
                        <tr class="table__data">
                            <th scope="col">Album Sleeve</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Band</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy9.jpg" alt="doremi fasoi latido"></th>
                            <td>Doremi Fasoi Latido</td>
                            <td>1972</td>
                            <td>Hawkwind</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy10.jpg" alt="hall of the mountain grill"></th>
                            <td>Hall of the Mountain Grill</td>
                            <td>1974</td>
                            <td>Hawkwind</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy11.jpg" alt="warrior on the edge of time"></th>
                            <td>Warrior on the Edge of Time</td>
                            <td>1975</td>
                            <td>Hawkwind</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy12.jpg" alt="motorhead"></th>
                            <td>Motorhead</td>
                            <td>1977</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy13.jpg" alt="overkill"></th>
                            <td>Overkill</td>
                            <td>1979</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy14.jpg" alt="bomber"></th>
                            <td>Bomber</td>
                            <td>1979</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy15.jpg" alt="on parole"></th>
                            <td>On Parole</td>
                            <td>1979</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy7.jpg" alt="ace of spades"></th>
                            <td>Ace of Spades</td>
                            <td>1980</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy16.jpg" alt="iron fist"></th>
                            <td>Iron Fist</td>
                            <td>1982</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy17.jpg" alt="another perfect day"></th>
                            <td>Another Perfect Day</td>
                            <td>1983</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy18.jpg" alt="orgasmatron"></th>
                            <td>Orgasmatron</td>
                            <td>1986</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy19.jpg" alt="1916"></th>
                            <td>1916</td>
                            <td>1991</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy20.jpg" alt="march or die"></th>
                            <td>March or Die</td>
                            <td>1992</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy21.jpg" alt="bastards"></th>
                            <td>Bastards</td>
                            <td>1993</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy22.jpg" alt="sacrifice"></th>
                            <td>Sacrifice</td>
                            <td>1995</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy23.jpg" alt="overnight sensation"></th>
                            <td>Overnight Sensation</td>
                            <td>1995</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy24.jpg" alt="snake bite love"></th>
                            <td>Snake Bite Love</td>
                            <td>1998</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy25.jpg" alt="we are motorhead"></th>
                            <td>We are Motorhead</td>
                            <td>2000</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy26.jpg" alt="hammered"></th>
                            <td>Hammered</td>
                            <td>2002</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy27.jpg" alt="inferno"></th>
                            <td>Inferno</td>
                            <td>2004</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy28.jpg" alt="kiss of death"></th>
                            <td>Kiss of Death</td>
                            <td>2006</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy29.jpg" alt="motorizer"></th>
                            <td>Motorizer</td>
                            <td>2008</td>
                            <td>Motorizer</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy30.jpg" alt="the world is yours"></th>
                            <td>The World is Yours</td>
                            <td>2010</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy31.jpg" alt="aftershock"></th>
                            <td>Aftershock</td>
                            <td>2013</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/lemmy32.jpg" alt="bad magic"></th>
                            <td>Bad Magic</td>
                            <td>2015</td>
                            <td>Motorhead</td>
                        </tr>
                        <tr class="table__data">
                            <td class="disclaimer" colspan="4">For the sake of brevity this is not an exhaustive discography. Excluded: Lemmy's very early career, singles, E.P.'s, live albums and compilation albums.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="style-line"></div>