<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <div class="container">
        <h3 class="text-center pl-4 pr-4 base__title">Discography</h3>
    </div>
    <div class="container disc__cont mt-5">
        <div class="media">
            <img src="/img/dandv2.jpg" class="disc__img" alt="Dime and Vince">
            <div class="media-body">
                <h5 class="text-center disc__name disc__name--pantera">Dimebag Darrell<br> and<br> Vinnie Paul</h5>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-dark table__cont table-borderless mt-5">
                    <thead>
                        <tr class="table__data">
                            <th scope="col">Album Sleeve</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Band</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/metalmagic.jpg" alt="metal magic"></th>
                            <td>Metal Magic</td>
                            <td>1983</td>
                            <td>Pantera</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/projects.jpg" alt="projects in the jungle"></th>
                            <td>Projects in the Jungle</td>
                            <td>1984</td>
                            <td>Pantera</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/night.jpg" alt="I am the night"></th>
                            <td>I Am the Night</td>
                            <td>1985</td>
                            <td>Pantera</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/power.jpg" alt="power metal"></th>
                            <td>Power Metal</td>
                            <td>1988</td>
                            <td>Pantera</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/cowboys.jpg" alt="cowboys from hell"></th>
                            <td>Cowboys from Hell</td>
                            <td>1990</td>
                            <td>Pantera</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/vulgar1.jpg" alt="vulgar display of power"></th>
                            <td>Vulgar Display of Power</td>
                            <td>1992</td>
                            <td>Pantera</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/farbeyond.jpg" alt="far beyond driven"></th>
                            <td>Far Beyond Driven</td>
                            <td>1994</td>
                            <td>Pantera</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/trendkill.jpg" alt="the great southern trendkill"></th>
                            <td>The Great Southern Trendkill</td>
                            <td>1996</td>
                            <td>Pantera</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/steel.jpg" alt="reinventing the steel"></th>
                            <td>Reinventing the Steel</td>
                            <td>2000</td>
                            <td>Pantera</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/newfound.jpg" alt="new found power"></th>
                            <td>New Found Power</td>
                            <td>2004</td>
                            <td>Damage Plan</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/rebel.jpg" alt="rebel meets rebel"></th>
                            <td>Rebel Meets Rebel</td>
                            <td>2006</td>
                            <td>Rebel Meets Rebel</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-dark table__cont table-borderless mt-5">
                    <thead>
                        <tr class="table__data">
                            <th colspan="4" class="text-center py-3">Vinnie Paul's Ouevre Post Dime</th>
                        </tr>
                        <tr class="table__data">
                            <th scope="col">Album Sleeve</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Band</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/hellyeah.jpg" alt="hellyeah"></th>
                            <td>Hellyeah</td>
                            <td>2007</td>
                            <td>Hellyeah</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/stampede.jpg" alt="stampede"></th>
                            <td>Stampede</td>
                            <td>2009</td>
                            <td>Hellyeah</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/bandofbrother.jpg" alt="band of brothers"></th>
                            <td>Band of Brothers</td>
                            <td>2012</td>
                            <td>Hellyeah</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/bloodforblood.jpg" alt="blood for blood"></th>
                            <td>Blood for Blood</td>
                            <td>2014</td>
                            <td>Hellyeah</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/undeniable.jpg" alt="undeniable"></th>
                            <td>Unden!able</td>
                            <td>2016</td>
                            <td>Hellyeah</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/welcomehome.jpg" alt="welcome home"></th>
                            <td>Welcome Home</td>
                            <td>2019</td>
                            <td>Hellyeah</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="style-line"></div>