<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <div class="container">
        <h3 class="text-center pl-4 pr-4 base__title">Discography</h3>
    </div>
    <div class="container disc__cont mt-5">
        <div class="media">
            <img src="/img/phil8.jpg" class="disc__img" alt="phil lynott">
            <div class="media-body">
                <h5 class="text-center disc__name">Phil Lynott</h5>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table__cont table-dark table-borderless mt-5">
                    <thead>
                        <tr class="table__data">
                            <th scope="col">Album Sleeve</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Band</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil9.jpg" alt="thin lizzy"></th>
                            <td>Thin Lizzy</td>
                            <td>1971</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil10.jpg" alt="shades of a blue orphanage"></th>
                            <td>Shades of a Blue Orphanage</td>
                            <td>1972</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil11.jpg" alt="vagabonds of the western world"></th>
                            <td>Vagabonds of the Western World</td>
                            <td>1973</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil12.jpg" alt="night life"></th>
                            <td>Nightlife</td>
                            <td>1974</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil13.jpg" alt="fighting"></th>
                            <td>Fighting</td>
                            <td>1975</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil14.jpg" alt="jailbreak"></th>
                            <td>Jailbreak</td>
                            <td>1976</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil15.jpg" alt="johnny the fox"></th>
                            <td>Johnny the Fox</td>
                            <td>1976</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil16.jpg" alt="bad reputation"></th>
                            <td>Bad Reputation</td>
                            <td>1977</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil7.jpg" alt="black rose"></th>
                            <td>Black Rose</td>
                            <td>1979</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil17.jpg" alt="chinatown"></th>
                            <td>China Town</td>
                            <td>1980</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil18.jpg" alt="solo in soho"></th>
                            <td>Solo in Soho</td>
                            <td>1980</td>
                            <td>Phil Lynott</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil19.jpg" alt="renegade"></th>
                            <td>Renegade</td>
                            <td>1981</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil20.jpg" alt="the phil lynott album"></th>
                            <td>The Phil Lynott Album</td>
                            <td>1982</td>
                            <td>Phil Lynott</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/phil21.jpg" alt="thunder and lightning"></th>
                            <td>Thunder and Lightning</td>
                            <td>1983</td>
                            <td>Thin Lizzy</td>
                        </tr>
                        <tr class="table__data">
                            <td class="disclaimer" colspan="4">For the sake of brevity this is not an exhaustive discography. Excluded: singles, E.P.s, live albums and compilation albums.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="style-line"></div>