<% layout("layouts/boilerplate") -%>
<section class="jumbo__section">
    <div class="container">
        <h3 class="text-center pl-4 pr-4 base__title">Discography</h3>
    </div>
    <div class="container disc__cont mt-5">
        <div class="media">
            <img src="/img/randy6.jpg" class="disc__img" alt="randy rhoads">
            <div class="media-body">
                <h5 class="text-center disc__name">Randy Rhoads</h5>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table__cont table-dark table-borderless mt-5">
                    <thead>
                        <tr class="table__data">
                            <th scope="col">Album Sleeve</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Band</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/randy7.jpg" alt="quiet riot"></th>
                            <td>Quiet Riot</td>
                            <td>1977</td>
                            <td>Quiet Riot</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/randy8.jpg" alt="quiet riot 2"></th>
                            <td>Quiet Riot II</td>
                            <td>1978</td>
                            <td>Quiet Riot</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/randy5.jpg" alt="blizzard of ozz"></th>
                            <td>Blizzard of Ozz</td>
                            <td>1979</td>
                            <td>Ozzy Osbourne</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/randy9.jpg" alt="diary of a madman"></th>
                            <td>Diary of a Madman</td>
                            <td>1981</td>
                            <td>Ozzy Osbourne</td>
                        </tr>
                        <tr class="table__data">
                            <th><img class="table__img" src="/img/randy10.jpg" alt="tribute"></th>
                            <td>Tribute</td>
                            <td>1987</td>
                            <td>Ozzy Osbourne/Randy Rhoads</td>
                        </tr>
                        <tr class="table__data">
                            <td class="disclaimer" colspan="4">This is not an exhaustive discography. Excluded: other live albums and compilation albums.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="style-line"></div>