<article class="overlay__article">
    <div class="overlay"></div>
    <nav class="overlay__nav">
        <ul>
            <li class="cart">
                <a href="/cart">Cart
                    <i class="fas fa-shopping-basket"></i><span>0</span>
                </a>
            </li>
        </ul>
    </nav>
</article>